{% extends "base.html" %} {% block title %}Команды bash{% endblock %} {% block content %}
<div class="card mb-2">
   <div class="card-header h3">Список команд и скриптов CLI</div>
   <div class="card-body">
      <p class="card-text">В этом разделе можно найти скрипты и команды таких CLI как Powershell, Git Bash, CMD</p>
      <p class="card-text">
         Всего записей в таблице bash: <b>{{ bash_list_count }}</b></p>
      <a href="{{ url_for('add_bash_command.add_bash_command') }}" class="btn btn-outline-dark">Добавить новую
         запись?</a>
      <p class="card-text">{% include 'errors.html' %}</p>
   </div>
</div>
{% for bash_list in bash_list %}
<div class="card mb-2">
   <div class="card-header">{{ bash_list['bash_name'] }}</div>
   <div class="card-body">
      <h4>Дата добавления</h4>
      <p class="card-text">
         {{ bash_list['bash_date_add'] }}
      </p>
      <h4>Дата редактирования</h4>
      <p class="card-text">
         {{ bash_list['bash_date_edit'] }}
      </p>
      <p class="card-text">
      <pre class="card p-2">{{ bash_list['bash_command'] }}</pre>
      </p>
      <p class="card-text">
      <div class="btn-group pb-2" role="group" aria-label="...">
         <a href="{{ url_for('get_post_bash_command.get_post_bash_command', bash_id=bash_list['bash_id']) }}"
            class="btn btn-outline-dark">Перейти к записи</a>
         <a href="{{ url_for('edit_bash_command.edit_bash_command', bash_id=bash_list['bash_id']) }}"
            class="btn btn-outline-dark">Редактировать запись?</a>
      </div>
      <form action="{{ url_for('delete_bash_command.delete_bash_command', bash_id=bash_list['bash_id'])}}" method="POST"
         class="pb-2">
         <input type="submit" class="btn btn-outline-danger" value="Удалить запись?"
            onclick="return confirm('Вы точно уверены что хотите удалить запись?')" />
      </form>
      </p>
   </div>
</div>
{% endfor %}
{% endblock %}