{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
<form method="post">
   <div class="card mb-3">
      <label for="bash_command" class="card-header">Команда или скрипт</label>
      <textarea class="form-control" id="bash_command" name="bash_command" rows="1"
         placeholder="Введите команду или скрипт" required>{{ edit_bash_command_view.bash_command }}</textarea>
   </div>
   <div class="card mb-3">
      <label for="bash_name" class="card-header">Описание команды или скрипта</label>
      <textarea class="form-control" id="bash_name" name="bash_name" rows="1"
         placeholder="Введите описание команды или скрипта" required>{{ edit_bash_command_view.bash_name }}</textarea>
   </div>
   <div class="card text-dark bg-light mb-3">
      <div class="card-header h5">Что будем дальше делать?</div>
      <div class="card-body">
         <div class="btn-group btn-group" role="group" aria-label="...">
            <a href="{{ url_for('bash_list_commands.bash_list_commands') }}" class="btn btn-outline-dark">Вернемся к
               списку команд и скриптов</a>
            <a href="{{ url_for('add_bash_command.add_bash_command') }}" class="btn btn-outline-dark">Добавим новую
               запись</a>
            <button type="submit" value="" class="btn btn-outline-dark">Сохраним изменения</button>
            {% include 'errors.html' %}
         </div>
      </div>
</form>
{% endblock %}