{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
<form method="post">
   <div class="container-index-page">
      <div class="card">
         <label for="bash_command" class="card-header">Команда или скрипт</label>
         <textarea class="form-control" id="bash_command" name="bash_command" rows="8"
            placeholder="Введите команду или скрипт" required>{{ edit_bash_command_view.bash_command }}</textarea>
      </div>
      <div class="card">
         <label for="bash_name" class="card-header">Описание</label>
         <textarea class="form-control" id="bash_name" name="bash_name" rows="8"
            placeholder="Введите описание команды или скрипта"
            required>{{ edit_bash_command_view.bash_name }}</textarea>
      </div>
      <div class="card text-dark bg-light">
         <div class="card-header h5">Операции</div>
         <div class="card-body">
            <div class="btn-group btn-group" role="group" aria-label="...">
               <!-- Вернуться к списку записей -->
               <a href="{{ url_for('bash_list_commands.bash_list_commands') }}" class="btn btn-outline-dark">Назад</a>
                <!-- Добавить новую запись -->
               <a href="{{ url_for('add_bash_command.add_bash_command') }}" class="btn btn-outline-dark">Добавим</a>
               <button type="submit" value="" class="btn btn-outline-dark">Сохранимся</button>
               <!-- Блок с ошибками -->
               {% include 'errors.html' %}
            </div>
         </div>
      </div>
      <div class="card text-dark bg-light">
         <div class="card-header h5">Информация о записи</div>
         <ul>
            <li>id записи: <b>{{ edit_bash_command_view.bash_id }}</b></li>
            <li>Дата редактирования записи: <b>{{ edit_bash_command_view.bash_date_edit }}</b></li>
            <li>Дата добавления записи: <b>{{ edit_bash_command_view.bash_date_add }}</li>
         </ul>
      </div>
   </div>
</form>
{% endblock %}