{% extends 'base.html' %}

{% block title %}Редактировать запись{% endblock %}

{% block content %}
<div class="container mt-5">
    {% include 'errors.html' %}
    <form method="post">

        <!-- Информация о записи -->
        <!--         <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <div class="h5 mb-0">Информация о записи</div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li><strong>ID записи:</strong> {{ edit_python_command_view.python_id }}</li>
                    <li><strong>Дата редактирования:</strong> {{ edit_python_command_view.python_date_edit }}</li>
                    <li><strong>Дата добавления:</strong> {{ edit_python_command_view.python_date_add }}</li>
                </ul>
            </div>
        </div> -->

        <!-- Команда -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <label for="python_command" class="h5 mb-0">Изменить команду Python</label>
            </div>
            <div class="card-body">
                <textarea class="form-control bg-light text-dark" id="python_command" name="python_command" rows="3"
                    placeholder="Введите команду" required>{{ edit_python_command_view.python_command }}</textarea>
            </div>
        </div>

        <!-- Описание команды -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <label for="python_name" class="h5 mb-0">Описание команды</label>
            </div>
            <div class="card-body">
                <textarea class="form-control bg-light text-dark" id="python_name" name="python_name" rows="3"
                    placeholder="Введите описание команды"
                    required>{{ edit_python_command_view.python_name }}</textarea>
            </div>
        </div>

        <!-- Операции -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <div class="h5 mb-0">Операции</div>
            </div>
            <div class="card-body">
                <a href="{{ url_for('python_list_commands.python_list_commands') }}" class="btn btn-outline-dark"><i
                        class="fas fa-list"></i> Вернуться к списку
                </a>
                <a href="{{ url_for('add_python_command.add_python_command') }}" class="btn btn-outline-dark"><i
                        class="fas fa-plus"></i> Добавить</a>
                <button type="submit" class="btn btn-outline-dark"><i class="fas fa-save"></i> Сохранить</button>
            </div>
    </form>
</div>
<div class="card mb-4 shadow-sm">
    <div class="card-header bg-dark text-white">
        <div class="h5 mb-0">Удаление записи</div>
    </div>
    <div class="card-body">
        <form
            action="{{ url_for('delete_python_command.delete_python_command', python_id=edit_python_command_view['python_id'])}}"
            method="POST" class="mt-3">
            <button type="submit" class="btn btn-outline-danger"
                onclick="return confirm('Вы уверены что хотите удалить запись?')">
                <i class="bi bi-trash"></i> Удалить запись?
            </button>
        </form>
    </div>
</div>
{% endblock %}