{% extends 'base.html' %}

{% block title %}Редактировать запись{% endblock %}

{% block content %}
{% include 'errors.html' %}

<div class="container mt-5">
    <form method="post">
        <!-- Команда -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <label for="python_command" class="h5 mb-0">Команда</label>
            </div>
            <div class="card-body">
                <textarea class="form-control bg-light text-dark" id="python_command" name="python_command" rows="8"
                    placeholder="Введите команду" required>{{ edit_python_command_view.python_command }}</textarea>
            </div>
        </div>

        <!-- Описание команды -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <label for="python_name" class="h5 mb-0">Описание команды</label>
            </div>
            <div class="card-body">
                <textarea class="form-control bg-light text-dark" id="python_name" name="python_name" rows="8"
                    placeholder="Введите описание команды" required>{{ edit_python_command_view.python_name }}</textarea>
            </div>
        </div>

        <!-- Операции -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <div class="h5 mb-0">Операции</div>
            </div>
            <div class="card-body">
                <div class="btn-group" role="group">
                    <a href="{{ url_for('python_list_commands.python_list_commands') }}" class="btn btn-outline-dark">Назад</a>
                    <a href="{{ url_for('add_python_command.add_python_command') }}" class="btn btn-outline-dark">Добавить</a>
                    <button type="submit" class="btn btn-outline-dark">Сохранить</button>
                </div>
            </div>
        </div>

        <!-- Информация о записи -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <div class="h5 mb-0">Информация о записи</div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li><strong>ID записи:</strong> {{ edit_python_command_view.python_id }}</li>
                    <li><strong>Дата редактирования:</strong> {{ edit_python_command_view.python_date_edit }}</li>
                    <li><strong>Дата добавления:</strong> {{ edit_python_command_view.python_date_add }}</li>
                </ul>
            </div>
        </div>
    </form>
</div>
{% endblock %}