{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
{% include 'errors.html' %}
<form method="post">
   <div class="container-index-page">
      <div class="card">
         <label for="python_command" class="card-header">Команда</label>
         <textarea class="form-control" id="python_command" name="python_command" rows="8" placeholder="Введите команду"
            required>{{ edit_python_command_view.python_command }}</textarea>
      </div>
      <div class="card">
         <label for="python_name" class="card-header">Описание команды</label>
         <textarea class="form-control" id="python_name" name="python_name" rows="8"
            placeholder="Введите описание команды" required>{{ edit_python_command_view.python_name }}</textarea>
      </div>
      <div class="card text-dark bg-light">
         <div class="card-header h5">Операции</div>
         <div class="card-body">
            <div class="btn-group btn-group" role="group" aria-label="...">
               <a href="{{ url_for('python_list_commands.python_list_commands') }}"
                  class="btn btn-outline-dark">Назад</a>
               <a href="{{ url_for('add_python_command.add_python_command') }}" class="btn btn-outline-dark">Добавим</a>
               <button type="submit" value="" class="btn btn-outline-dark">Сохранимся</button>
            </div>
         </div>
      </div>
      <div class="card text-dark bg-light">
         <div class="card-header h5">Информация о записи</div>
         <ul>
            <li>id записи: <b>{{ edit_python_command_view.python_id }}</b></li>
            <li>Дата редактирования записи: <b>{{ edit_python_command_view.python_date_add }}</b></li>
            <li>Дата добавления записи: <b>{{ edit_python_command_view.python_date_edit }}</li>
         </ul>
      </div>
   </div>
</form>
{% endblock %}