{% extends "base.html" %} {% block title %}Команды python{% endblock %} {% block content %}
<div class="card mb-3">
   <div class="card-header">
      Всего записей в таблице python: <b>{{ python_list_count_print_int }}</b>
   </div>
   <div class="card-body">
      <p class="card-text">
         <a href="{{ url_for('add_python_command.add_python_command') }}" class="btn btn-outline-dark">Добавить новую запись?</a>
      </p>
   </div>
</div>
<ul class="list-group">
   {% for python_list in python_list %}
   <li class="list-group-item"><a href="{{ url_for('get_post_python_command.get_post_python_command', python_id=python_list['python_id']) }}">{{
         python_list['python_name']
         }}</a></li>
   {% endfor %}
</ul>
{% endblock %}