{% extends "base.html" %} {% block title %}Команды bash{% endblock %}
{% block content %}
<form method="post">
   <div class="card mb-3">
      <label for="bash_command" class="card-header">Название</label>
      <textarea class="form-control" id="bash_command" name="bash_command" rows="8"
         placeholder="Введите название" required></textarea>
   </div>
   <div class="card mb-3">
      <label for="bash_name" class="card-header">Описание</label>
      <textarea class="form-control" id="bash_name" name="bash_name" rows="2"
         placeholder="Введите описание команды или скрипта" required></textarea>
   </div>
   <div class="card text-dark bg-light mb-3">
      <div class="card-header h5">Что будем дальше делать?</div>
      <div class="card-body">
         <div class="btn-group btn-group" role="group" aria-label="...">
            <a class="btn btn-outline-dark" href="{{ url_for('bash_list_commands.bash_list_commands') }} ">Вернемся к
               списку скриптов и команд</a>
            <button type="submit" value="" class="btn btn-outline-dark">Сохраним запись</button>
            {% include 'errors.html' %}
         </div>
      </div>
   </div>
</form>
{% endblock %}