{% extends "base.html" %} {% block title %}Команды bash{% endblock %}
{% block content %}
<form method="post">
   <div class="card mb-3">
      <label for="name" class="card-header">Название</label>
      <textarea class="form-control" id="name" name="name" rows="8"
         placeholder="Введите название" required></textarea>
   </div>
   <div class="card mb-3">
      <label for="description" class="card-header">Описание</label>
      <textarea class="form-control" id="description" name="description" rows="2"
         placeholder="Введите описение" required></textarea>
   </div>
   <div class="card text-dark bg-light mb-3">
      <div class="card-header h5">Операции</div>
      <div class="card-body">
         <div class="btn-group btn-group" role="group" aria-label="...">
            <a class="btn btn-outline-dark" href="{{ url_for('posts.posts') }} ">Вернемся к постам</a>
            <button type="submit" value="" class="btn btn-outline-dark">Сохранимся</button>
            {% include 'errors.html' %}
         </div>
      </div>
   </div>
</form>
{% endblock %}