{% extends "base.html" %} {% block title %}Записи{% endblock %} {% block content %}
<div class="card mb-2">
   <div class="card-header h3">Записи</div>
   <div class="card-body">
      <p class="card-text">Общий список записей</p>
      <p class="card-text">
         Всего записей в таблице: <b>{{ list_count }}</b></p>
            <a href="{{ url_for('add_post.add_post') }}" class="btn btn-outline-dark">Добавить новую
      запись?</a>
      <p class="card-text">{% include 'errors.html' %}</p>
   </div>
</div>
<table class="table table-bordered table-responsive table-hover">
   <thead>
      <tr>
         <th scope="col">id</th>
         <th scope="col">name</th>
         <th scope="col">description</th>
         <th scope="col">category</th>
         <th scope="col">date_edit</th>
         <th scope="col">date_add</th>
         <th scope="col">delete?</th>
      </tr>
   </thead>
   <tbody>
      {% for list_posts in list_posts %}
      <tr>
         <td>{{ list_posts['id'] }}</td>
         <td>{{ list_posts['name'] }}</td>
         <td>{{ list_posts['description'] }}</td>
         <td>{{ list_posts['category'] }}</td>
         <td>{{ list_posts['date_edit'] }}</td>
         <td>{{ list_posts['date_add'] }}</td>
         <td>         <form action="{{ url_for('delete.delete', id=list_posts['id'])}}"
            method="POST" class="pb-2">
            <input type="submit" class="btn btn-outline-danger" value="Удалить запись?"
               onclick="return confirm('Вы точно уверены что хотите удалить запись?')" />
         </form></td>
      </tr>
      {% endfor %}
   </tbody>
</table>
{% endblock %}