{% extends 'base.html' %}
{% block title %}Страница записи{% endblock %}
{% block content %}
<div class="card">
   <div class="card-body">
      <h5 class="card-title">ID</h5>
      <p class="card-text">{{ view['id'] }}</p>
      <h5 class="card-title">Дата добавления</h5>
      <p class="card-text">{{ view['date_add'] }}</p>
      <h5 class="card-title">Дата редактирования</h5>
      <p class="card-text">{{ view['date_edit'] }}</p>
      <h5 class="card-title">Название</h5>
      <p class="card-text">{{ view['name'] }}</p>
      <h5 class="card-title">Команда или скрипт</h5>
      <p class="card-text">{{ view['description'] }}</p>
      <div class="btn-group btn-group pb-2" role="group" aria-label="...">
         <a href="{{ url_for('posts.posts') }}" class="btn btn-outline-dark">Назад к постам</a>
         <a href="{{ url_for('add_post.add_post') }}" class="btn btn-outline-dark">Добавим пост</a>
         <a href="{{ url_for('edit_post.edit_post', id=view['id']) }}"
            class="btn btn-outline-dark">Отредактируем</a>
      </div>
      <form action="{{ url_for('delete.delete', id=view['id'])}}" method="POST"
         class="pb-2">
         <input type="submit" class="btn btn-outline-danger" value="Удалим запись?"
            onclick="return confirm('Вы уверены что хотите удалить запись?')" />
      </form>
   </div>
</div>
{% endblock %}