{% extends "base.html" %} 
{% block title %}HTML{% endblock %}
{% block content %}
<form method="post">
   <div class="card mb-3">
      <label for="html_wiki_name" class="card-header">Название</label>
      <textarea class="form-control" id="html_wiki_name" name="html_wiki_name" rows="1"
         placeholder="Введите название" required></textarea>
   </div>
   <div class="card mb-3">
      <label for="html_wiki_description" class="card-header">Описание</label>
      <textarea class="form-control" id="html_wiki_description" name="html_wiki_description" rows="8"
         placeholder="Введите описание релиза" required></textarea>
   </div>
   <div class="card text-dark bg-light mb-3">
      <div class="card-header h5">Что будем дальше делать?</div>
      <div class="card-body">
         <div class="btn-group btn-group" role="group" aria-label="...">
            <a class="btn btn-outline-dark" href="{{ url_for('html_wiki.html_wiki') }} ">Назад</a>
            <button type="submit" value="" class="btn btn-outline-dark">Сохранить</button>
            {% include 'errors.html' %}
         </div>
      </div>
   </div>
</form>
{% endblock %}