{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
<form method="post">
   <div class="card mb-3">
      <label for="html_wiki_name" class="card-header">Название</label>
      <textarea class="form-control" id="html_wiki_name" name="html_wiki_name" rows="1"
         placeholder="Введите название" required>{{ edit_view_html_wiki.html_wiki_name }}<</textarea>
   </div>
   <div class="card mb-3">
      <label for="html_wiki_description" class="card-header">Описание релиза</label>
      <textarea class="form-control" id="html_wiki_description" name="html_wiki_description" rows="8"
         placeholder="Введите описание релиза" required>{{ edit_view_html_wiki.html_wiki_description }}</textarea>
   </div>
   <div class="card text-dark bg-light mb-3">
      <div class="card-header h5">Что будем дальше делать?</div>
      <div class="card-body">
         <div class="btn-group btn-group" role="group" aria-label="...">
            <a href="{{ url_for('html_wiki.html_wiki') }}" class="btn btn-outline-dark">Вернемся к списку</a>
            <a href="{{ url_for('add_html_wiki.add_html_wiki') }}" class="btn btn-outline-dark">Добавим новую
               запись</a>
            <button type="submit" value="" class="btn btn-outline-dark">Сохраним изменения</button>
            {% include 'errors.html' %}
         </div>
      </div>
</form>
{% endblock %}