{% extends "base.html" %} {% block title %}Релизы{% endblock %} {% block content %}
<div class="card mb-2">
  <div class="card-header h3">Список релизов</div>
  <div class="card-body">
    <p class="card-text">В этом разделе отображены текущие релизы и готовящееся.</p>
    <p class="card-text">
      Всего записей в таблице html_wiki: <b>{{ html_wiki_count }}</b></p>
    <a href="{{ url_for('add_html_wiki.add_html_wiki') }}" class="btn btn-outline-dark">Добавить новую
      запись?</a>
    <p class="card-text">{% include 'errors.html' %}</p>
  </div>
</div>
<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
    {% for html_wiki_list in html_wiki_list %}
    <tr>
      <td>{{ html_wiki_list['html_wiki_name'] }}</td>
      <td><div class="card"><a href="{{ url_for('view_html_wiki.view_html_wiki', html_wiki_id=html_wiki_list['html_wiki_id']) }}"
          class="btn btn-outline-dark">Подробно</a></div>
          <div class="card"><a href="{{ url_for('edit_html_wiki.edit_html_wiki', html_wiki_id=html_wiki_list['html_wiki_id']) }}"
          class="btn btn-outline-dark">Редактировать</a></div>
         <form action="{{ url_for('delete_html_wiki.delete_html_wiki', html_wiki_id=html_wiki_list['html_wiki_id'])}}"
          method="POST" class="card">
          <input type="submit" class="btn btn-outline-danger " value="Удалить"
            onclick="return confirm('Вы точно уверены что хотите удалить запись?')" />
        </form></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}