{% extends 'base.html' %}
{% block title %}Страница записи{% endblock %}
{% block content %}
<div class="card text-dark bg-light mb-3">
   <div class="card-header h5">ID релиза</div>
   <div class="card-body">
      <p class="card-text">{{ html_wiki_view['html_wiki_id'] }}</p>
   </div>
</div>
<div class="card text-dark bg-light mb-3">
   <div class="card-header h5">Дата редактирования записи</div>
   <div class="card-body">
      <p class="card-text">{{ html_wiki_view['html_wiki_date_edit'] }}</p>
   </div>
</div>
<div class="card text-dark bg-light mb-3">
   <div class="card-header h5">Дата добавления записи</div>
   <div class="card-body">
      <p class="card-text">{{ html_wiki_view['html_wiki_date_add'] }}</p>
   </div>
</div>
<div class="card text-dark bg-light mb-3">
   <div class="card-header h5">Название</div>
   <div class="card-body">
      <p class="card-text">{{ html_wiki_view['html_wiki_name'] }}</p>
   </div>
</div>
<div class="card text-dark bg-light mb-3">
   <div class="card-header h5">Описание </div>
   <div class="card-body">
      <p class="card-text">{{ html_wiki_view['html_wiki_description'] }}</p>
   </div>
</div>
<div class="card text-dark bg-light mb-3">
   <div class="card-header h5">Что будем дальше делать?</div>
   <div class="card-body">
      <div class="btn-group btn-group pb-2" role="group" aria-label="...">
         <a href="{{ url_for('html_wiki.html_wiki') }}" class="btn btn-outline-dark">Вернемся к списку релизов
            </a>
         <a href="{{ url_for('add_html_wiki.add_html_wiki') }}" class="btn btn-outline-dark">Добавим новую</a>
         <a href="{{ url_for('edit_html_wiki.edit_html_wiki', html_wiki_id=html_wiki_view['html_wiki_id']) }}"
            class="btn btn-outline-dark">Отредактируем текущую запись</a>
      </div>
      <form action="{{ url_for('delete_html_wiki.delete_html_wiki', html_wiki_id=html_wiki_view['html_wiki_id'])}}" method="POST"
         class="pb-2">
         <input type="submit" class="btn btn-outline-danger" value="Или же удалим запись?"
            onclick="return confirm('Вы точно уверены что хотите удалить запись?')" />
      </form>
   </div>
</div>
{% endblock %}