{% extends "base.html" %} {% block title %}Команды bash{% endblock %}
{% block content %}
<form method="post">
   <div class="card mb-3">
      <label for="release_name" class="card-header">Название</label>
      <textarea class="form-control" id="release_name" name="release_name" rows="8"
         placeholder="Введите название" required></textarea>
   </div>
      <div class="card mb-3">
      <label for="release_number" class="card-header">Введите номер релиза</label>
      <textarea class="form-control" id="release_number" name="release_number" rows="8"
         placeholder="Введите номер релиза" required></textarea>
   </div>
   <div class="card mb-3">
      <label for="release_description" class="card-header">Описание релиза</label>
      <textarea class="form-control" id="release_description" name="release_description" rows="2"
         placeholder="Введите описание релиза" required></textarea>
   </div>
      <div class="card mb-3">
      <label for="release_status" class="card-header">Статус релиза</label>
      <textarea class="form-control" id="release_status" name="release_status" rows="2"
         placeholder="Введите статус релиза" required></textarea>
   </div>
   <div class="card text-dark bg-light mb-3">
      <div class="card-header h5">Что будем дальше делать?</div>
      <div class="card-body">
         <div class="btn-group btn-group" role="group" aria-label="...">
            <a class="btn btn-outline-dark" href="{{ url_for('releases.releases') }} ">Назад</a>
            <button type="submit" value="" class="btn btn-outline-dark">Сохранить</button>
            {% include 'errors.html' %}
         </div>
      </div>
   </div>
</form>
{% endblock %}