{% extends 'base.html' %}
{% block title %}Добавить команду{% endblock %}
{% block content %}
{% include 'errors.html' %}
<form method="post">
   <div class="card mb-3">
      <label for="links_command" class="card-header">Cсылка</label>
      <textarea class="form-control" id="links_command" name="links_command" rows="1" placeholder="Введите ссылку"
         required></textarea>
   </div>
   <div class="card mb-3">
      <label for="links_name" class="card-header">Описание ссылки</label>
      <textarea class="form-control" id="links_name" name="links_name" rows="3" placeholder="Введите описание ссылки"
         required></textarea>
   </div>
   <div class="btn-group btn-group" role="group" aria-label="...">
      <a class="btn btn-outline-dark" href="{{ url_for('links_list_commands.links_list_commands') }}">Вернуться к
         списку</a>
      <button type="submit" value="" class="btn btn-outline-dark">Сохранить</button>
   </div>
</form>

{% endblock %}