{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
{% include 'errors.html' %}
<form method="post">
   <div class="container-index-page">
      <div class="card">
         <label for="links_command" class="card-header">Cсылка</label>
         <textarea class="form-control" id="links_command" name="links_command" rows="8" placeholder="Введите ссылку"
            required>{{ edit_links_command_view.links_command }}</textarea>
      </div>
      <div class="card">
         <label for="links_name" class="card-header">Описание ссылки</label>
         <textarea class="form-control" id="links_name" name="links_name" rows="8" placeholder="Введите описание ссылки"
            required>{{ edit_links_command_view.links_name }}</textarea>
      </div>
      <div class="card text-dark bg-light">
         <div class="card-header h5">Операции</div>
         <div class="card-body">
            <div class="btn-group btn-group" role="group" aria-label="...">
               <!-- Вернуться к списку записей -->
               <a href="{{ url_for('links_list_commands.links_list_commands') }}" class="btn btn-outline-dark">Назад</a>
               <!-- Добавить новую запись -->
               <a href="{{ url_for('add_links_command.add_links_command') }}" class="btn btn-outline-dark">Добавим</a>
               <button type="submit" value="" class="btn btn-outline-dark">Сохранимся</button>
               <!-- Блок с ошибками -->
               {% include 'errors.html' %}
            </div>
         </div>
      </div>
      <div class="card text-dark bg-light">
         <div class="card-header h5">Информация о записи</div>
         <ul>
            <li>id записи: <b>{{ edit_links_command_view.links_id }}</b></li>
            <li>Дата редактирования записи: <b>{{ edit_links_command_view.links_date_edit }}</b></li>
            <li>Дата добавления записи: <b>{{ edit_links_command_view.links_date_edit }}</li>
         </ul>
      </div>
   </div>
</form>
{% endblock %}