{% extends 'base.html' %}
{% block title %}Добавить команду{% endblock %}
{% block content %}
   <form method="post">
      <div class="card mb-3">
         <label for="sql_command" class="card-header">Команда</label>
         <textarea class="form-control" id="sql_command" name="sql_command" rows="1" placeholder="Введите команду"
            required></textarea>
      </div>
      <div class="card mb-3">
         <label for="sql_name" class="card-header">Описание команды</label>
         <textarea class="form-control" id="sql_name" name="sql_name" rows="1" placeholder="Введите описание команды"
            required></textarea>
      </div>
      <div class="card mb-3">
         <label for="sql_description" class="card-header">Подробно</label>
         <textarea class="form-control" id="sql_description" name="sql_description" rows="8" placeholder="Подробно о команде"
            required></textarea>
      </div>
      <div class="btn-group btn-group" role="group" aria-label="...">
            <a class="btn btn-outline-dark" href="{{ url_for('sql_list_commands.sql_list_commands') }}">Вернуться к списку</a>
            <button type="submit" value="" class="btn btn-outline-dark">Сохранить</button>
         </div>
   </form>
<div class="container p-4">
   {% include 'errors.html' %}
</div>
{% endblock %}