{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
<form method="post">
   <div class="card mb-3">
      <label for="sql_command" class="card-header">Команда</label>
      <textarea class="form-control" id="sql_command" name="sql_command" rows="1" placeholder="Введите команду"
         required>{{ edit_sql_command_view.sql_command }}</textarea>
   </div>
   <div class="card mb-3">
      <div class="card-header">
         Исходная команда
      </div>
      <div class="card-body">
         <p class="card-text">
            <b>
               <pre>{{ edit_sql_command_view.sql_command }}</pre>
            </b>
         </p>
      </div>
   </div>
   <div class="card mb-3">
      <label for="sql_name" class="card-header">Описание команды</label>
      <textarea class="form-control" id="sql_name" name="sql_name" rows="1" placeholder="Введите описание команды"
         required>{{ edit_sql_command_view.sql_name }}</textarea>
   </div>
   <div class="card mb-3">
      <div class="card-header">
         Старое описание команды
      </div>
      <div class="card-body">
         <p class="card-text">
            <b>
               {{ edit_sql_command_view.sql_name }}
            </b>
         </p>
      </div>
   </div>
   <div class="card mb-3">
      <label for="sql_description" class="card-header">Подробно</label>
      <textarea class="form-control" id="sql_description" name="sql_description" rows="8"
         placeholder="Подробно о команде" required>{{ edit_sql_command_view.sql_description }}</textarea>
   </div>
   <div class="card mb-3">
      <div class="card-header">
         Старые подробности команды
      </div>
      <div class="card-body">
         <p class="card-text">
            <b>
               {{ edit_sql_command_view.sql_description }}
            </b>
         </p>
      </div>
   </div>
   <div class="btn-group btn-group" role="group" aria-label="...">
      <a href="{{ url_for('sql_list_commands.sql_list_commands') }}" class="btn btn-outline-dark">Вернуться к списку</a>
      <a href="{{ url_for('add_sql_command.add_sql_command') }}" class="btn btn-outline-dark">Добавить новую</a>
      <button type="submit" value="" class="btn btn-outline-dark">Сохранить изменения</button>
   </div>
</form>
<div class="container p-4">
   {% include 'errors.html' %}
</div>
{% endblock %}