{% extends "base.html" %} {% block title %}Команды sql{% endblock %} {% block content %}
<div class="card mb-3">
   <div class="card-header">
      Всего записей в таблице sql: <b>{{ sql_list_count_print_int }}</b>
   </div>
   <div class="card-body">
      <p class="card-text">
         <a href="{{ url_for('add_sql_command.add_sql_command') }}" class="btn btn-outline-dark">Добавить новую запись?</a>
      </p>
   </div>
</div>
<ul class="list-group">
{% for sql_list in sql_list %}
<li class="list-group-item"><a href="{{ url_for('get_post_sql_command.get_post_sql_command', sql_id=sql_list['sql_id']) }}">{{
      sql_list['sql_name']
      }}</a></li>
{% endfor %}
</ul>
{% endblock %}