{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
<div class="container mt-5">
   <form method="post">
       <!-- Команда -->
       <div class="card mb-4 shadow-sm">
           <div class="card-header bg-dark text-white">
               <label for="cli_command" class="h5 mb-0">Команда</label>
           </div>
           <div class="card-body">
               <textarea class="form-control bg-light text-dark" id="cli_command" name="cli_command" rows="8"
                   placeholder="Введите команду" required>{{ edit_cli_post_view.cli_command }}</textarea>
           </div>
       </div>
       <!-- Описание команды -->
       <div class="card mb-4 shadow-sm">
           <div class="card-header bg-dark text-white">
               <label for="cli_name" class="h5 mb-0">Описание команды</label>
           </div>
           <div class="card-body">
               <textarea class="form-control bg-light text-dark" id="cli_name" name="cli_name" rows="8"
                   placeholder="Введите описание команды" required>{{ edit_cli_post_view.cli_name }}</textarea>
           </div>
       </div>
       <!-- Операции -->
       <div class="card mb-4 shadow-sm">
           <div class="card-header bg-dark text-white">
               <div class="h5 mb-0">Операции</div>
           </div>
           <div class="card-body">
               <div class="btn-group" role="group">
                   <a href="{{ url_for('cli_posts.cli_posts') }}" class="btn btn-outline-dark">Назад</a>
                   <a href="{{ url_for('add_cli_post.add_cli_post') }}" class="btn btn-outline-dark">Добавить</a>
                   <button type="submit" class="btn btn-outline-dark">Сохранить</button>
               </div>
           </div>
       </div>
      </form>
      <!-- Информация о записи -->
      <div class="card mb-4 shadow-sm">
         <div class="card-header bg-dark text-white">
            <div class="h5 mb-0">Информация о записи</div>
         </div>
         <div class="card-body">
            <ul class="list-unstyled">
               <li>id записи: <b>{{ edit_cli_post_view.cli_id }}</b></li>
               <li>Дата редактирования записи: <b>{{ edit_cli_post_view.cli_date_edit }}</b></li>
               <li>Дата добавления записи: <b>{{ edit_cli_post_view.cli_date_add }}</li>
            </ul>
         </div>
      </div>
   </div>
</div>
{% endblock %}