{% extends 'base.html' %}
{% block title %}Добавить запись{% endblock %}
{% block content %}
   <form method="post">
       <div class="card mb-3">
      <label for="test_name" class="card-header">Выберете статус:</label>
          <select id="test_name1" name="test_name" class="form-control">
            <option value="option1">Статус 1</option>
            <option value="option2">Статус 2</option>
            <option value="option3">Статус 3</option>
          </select>
      </div>
      <div class="card mb-3">
         <label for="test_name" class="card-header">Название записи</label>
         <textarea class="form-control" id="test_name" name="test_name" rows="1" placeholder="Введите название"
            ></textarea>
      </div>
      <div class="btn-group btn-group" role="group" aria-label="...">
         <a class="btn btn-outline-dark" href="{{ url_for('test_list.test_list') }}">Вернуться к списку</a>
         <button type="submit" value="" class="btn btn-outline-dark">Сохранить</button>
          {% include 'errors.html' %}
      </div>
   </form>
{% endblock %}