{% extends "base.html" %} {% block title %}Записи{% endblock %} {% block content %}
<div class="card mb-3">
   <div class="card-header">
      Всего записей в таблице test: <b>{{ test_list_count_print_int }}</b>
   </div>
   <div class="card-body">
      <p class="card-text">
         <div class="pb-4"><a href="{{ url_for('add_test.add_test') }}" class="btn btn-outline-dark w-25">Добавить новую тестовую запись?</a></div>
         <div class="pb-4"><a href="{{ url_for('insert_test.insert_test') }}" class="btn btn-outline-info w-25">Добавить 20 тестовых записей?</a></div>
         <div class="pb-4"><form action="{{ url_for('drop_and_create_table.drop_and_create_table') }}"
         method="POST">
         <input type="submit" class="btn btn-outline-danger  w-25" value="Очистить таблицу?"
            onclick="return confirm('Вы точно уверены что хотите удалить все тестовые записи?')" />
      </form></div>
      </p>
   </div>
</div>
<ul class="list-group">
   {% for test_list in test_list %}
   <li class="list-group-item">
      <a href="{{ url_for('get_post_test.get_post_test', test_id=test_list['test_id']) }}">{{ test_list['test_name'] }}</a>
   </li>
   {% endfor %}
</ul>
{% endblock %}