{% extends "base.html" %}
{% block title %}Дамп и экспорт{% endblock %}
{% block content %}
<div class="card mb-2">
   <div class="card-header h3">О проекте</div>
   <div class="card-body">
      <p>Проект первоначально разрабатывался в качестве практики в python, sql, css, html и постепенно перерос в полнценное приложение.</p>
      <p>Что из себя представляет проект на данный момент:</p>
      <ul>
         <li>python-приложение на основе фреймфорка Flask</li>
         <li>База данных mysql, реализация в виде подключения к базе данных Laragon</li>
      </ul>
   </div>
</div>
{% endblock %}