{% extends "base.html" %}
{% block title %}О проекте{% endblock %}
{% block content %}
<div class="card mb-2">
   <div class="card-header h3">О проекте</div>
   <div class="card-body">
      <p>Проект первоначально разрабатывался в качестве практики в python, sql, css, html и постепенно перерос в
         полноценное приложение.</p>
      <p>Что из себя представляет проект на данный момент:</p>
      <ul>
         <li>Python-приложение на основе фреймфорка Flask;</li>
         <li>База данных SQLite (локальный файл базы данных);</li>
         <li>Реализован поиск по всем разделам, которые имеют записи (разделы cli, sql, python);</li>
         <li>Реализована пагинация страниц с разбивкой по 10 записей на страницу(разделы cli, sql, python);</li>
         <li>В разделе Сервисы есть возможность сделать дамп базы данных;</li>
         <li><b>10.02.2025.</b>В разделе Сервисы реализован вывод списка файлов созданных бэкапов, а также возможность их удалить;</li>
      </ul>
   </div>
</div>
{% endblock %}