{% extends "base.html" %} {% block title %}Аналитика{% endblock %} {% block content %}
<div class="container-index-page">
   <div class="card">
      <div class="card-header h3">Записей в разделах</div>
      <div class="card-body">
         <ul>
            <li class="card-text">SLI: {{ bash_list_count }}</li>
            <li class="card-text">SQL: {{ sql_list_count }}</li>
            <li class="card-text">HTML: {{ html_wiki_list_count }}</li>
            <li class="card-text">CSS: {{ css_wiki_list_count }}</li>
            <li class="card-text">liython: {{ liython_list_count }}</li>
            <li class="card-text">Ссылки: {{ links_list_count }}</li>
            <li class="card-text">Тестовый раздел: {{ test_list_count }}</li>
            <li class="card-text">Всего записей: {{ sum_count }}</li>
         </ul>
      </div>
   </div>
   </div>
<div class="container-index-page">
   <div class="card">
      <div class="card-header h3">Последняя добавленная ссылка</div>
      <div class="card-body">
         <p class="card-text">
            {{ last_links.links_name }}</p>
         <a href="{{ url_for('links_list_commands.links_list_commands') }}" class="btn btn-outline-dark">Перейти в раздел Ссылки</a>
      </div>
   </div>
   <div class="card">
      <div class="card-header h3">Последняя добавленная команда SQL</div>
      <div class="card-body">
         <p class="card-text">
            {{ last_sql.sql_name }}</p>
         <a href="{{ url_for('sql_list_commands.sql_list_commands') }}" class="btn btn-outline-dark">Перейти в раздел SQL</a>
      </div>
   </div>
   <div class="card">
      <div class="card-header h3">Последняя добавленная команда CLI</div>
      <div class="card-body">
         <p class="card-text">
            {{ last_bash.bash_name }}</p>
         <a href="{{ url_for('bash_list_commands.bash_list_commands') }}" class="btn btn-outline-dark">Перейти в раздел CLI</a>
      </div>
   </div>
   <div class="card">
      <div class="card-header h3">Последняя добавленная команда Python</div>
      <div class="card-body">
         <p class="card-text">
            {{ last_python.python_name }}</p>
         <a href="{{ url_for('python_list_commands.python_list_commands') }}" class="btn btn-outline-dark">Перейти в раздел Python</a>
      </div>
   </div>
   <div class="card">
      <div class="card-header h3">Последняя запись в разделе CSS</div>
      <div class="card-body">
         <p class="card-text">
            {{ last_css_wiki.last_css_wiki }}</p>
         <a href="{{ url_for('css_wiki.css_wiki') }}" class="btn btn-outline-dark">Перейти в раздел CSS</a>
      </div>
   </div>
      <div class="card">
      <div class="card-header h3">Последняя тестовая запись</div>
      <div class="card-body">
         <p class="card-text">
            {{ last_test.test_name }}</p>
         <a href="{{ url_for('test_list.test_list') }}" class="btn btn-outline-dark">Перейти к тестовым записям</a>
      </div>
   </div>
      <div class="card">
      <div class="card-header h3">Последняя запись в разделе HTML</div>
      <div class="card-body">
         <p class="card-text">
            {{ last_html_wiki.last_html_wiki }}</p>
         <a href="{{ url_for('html_wiki.html_wiki') }}" class="btn btn-outline-dark">Перейти в раздел HTML</a>
      </div>
   </div>
   </div>
{% endblock %}