<table class="table">
   <thead>
      <tr>
         <th scope="col">Раздел</th>
         <th scope="col">Название</th>
         <th scope="col">Перейти в раздел</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Последняя добавленная ссылка</td>
         <td>{{ last_links.links_name }}</td>
         <td>
            <a href="{{ url_for('links_list_commands.links_list_commands') }}" class="btn btn-outline-dark" style="width:100px">Ссылки</a>
         </td>
      </tr>
      <tr>
         <td>Последняя добавленная команда SQL</td>
         <td>{{ last_sql.sql_name }}</td>
         <td>
            <a href="{{ url_for('sql_list_commands.sql_list_commands') }}" class="btn btn-outline-dark" style="width:100px">SQL</a>
         </td>
      </tr>
      </tr>
      <tr>
         <td>Последняя добавленная команда Bash</td>
         <td>{{ last_bash.bash_name }}</td>
         <td>
            <a href="{{ url_for('bash_list_commands.bash_list_commands') }}" class="btn btn-outline-dark" style="width:100px">Bash</a>
         </td>
      </tr>
      <tr>
         <td>Последняя добавленная команда Python</td>
         <td>{{ last_python.python_name }}</td>
         <td>
            <a href="{{ url_for('python_list_commands.python_list_commands') }}" class="btn btn-outline-dark" style="width:100px">Python</a>
         </td>
      </tr>
   </tbody>
</table>