{% extends "base.html" %}
{% block title %}Сервисы{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card mb-2">
        <div class="card-header h3">Сервисы</div>
        <div class="card-body">
            <ul>
                <li>Бэкапы</li>
                <li>Github</li>
            </ul>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header h4">Бэкапы</div>
        <div class="card-body">
            <p>Создание бэкапов баз данных и выгрузка таблиц баз данных в файл Excel.</p>
            <form action="/backup" method="post">
                <button type="submit" class="btn btn-outline-dark">Выполнить бэкапы</button>
            </form>
        </div>
        <table class="table-custom">
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file }}</td>
                    <td> <a href="{{ url_for('services.delete_file', filename=file) }}" class="btn btn-outline-dark"
                            onclick="return confirm('Вы уверены, что хотите удалить этот файл?')">Удалить файл</a></td>
                    <td> <a href="{{ url_for('services.download_file', filename=file) }}"
                            class="btn btn-outline-dark">Скачать файл</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card mb-2">
        <div class="card-header h4">Github</div>
        <div class="card-body">
            <p>Формирование и отправка коммита на репозиторий приложени.</p>
            <form action="{{ url_for('services.commit_and_push') }}" method="post">
                <button type="submit" class="btn btn-outline-dark">Выполнить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}