{% extends "base.html" %} {% block title %}CSS{% endblock %} {% block content %}

<div class="card mb-2">
   <div class="card-header h3">CSS</div>
   <div class="card-body">
      <p class="card-text">Всего записей в разделе: <b>{{ count_css_wiki }}</b></p>
      <p class="card-text">
         <a href="{{ url_for('add_css_wiki.add_css_wiki') }}" class="btn btn-outline-dark">Добавить новую
            запись?</a>
      </p>
      {% include 'errors.html' %}
   </div>
</div>
<div class="container-index-page">
   {% for css_wiki in css_wiki %}
   <div class="card mb-2">
      <div class="card-header">
         <h3>{{ css_wiki['css_wiki_name'] }}</h3>
      </div>
      <div class="card-body">
         <h4>Дата добавления</h4>
         <p class="card-text">
            {{ css_wiki['css_wiki_date_add'] }}
         </p>
         <h4>Дата редактирования</h4>
         <p class="card-text">
            {{ css_wiki['css_wiki_date_edit'] }}
         </p>
         <h4>Описание</h4>
         <p class="card-text">
            {{ css_wiki['css_wiki_description'] }}
         </p>
         <p class="card-text">
         <div class="btn-group pb-2" role="group" aria-label="...">
            <a href="{{ url_for('get_post_css_wiki.get_post_css_wiki', css_wiki_id=css_wiki['css_wiki_id']) }}"
               class="btn btn-outline-dark">Перейти к записи</a>
            <a href="{{ url_for('edit_css_wiki.edit_css_wiki', css_wiki_id=css_wiki['css_wiki_id']) }}"
               class="btn btn-outline-dark">Редактировать запись?</a>
         </div>
         <form action="{{ url_for('delete_css_wiki.delete_css_wiki', css_wiki_id=css_wiki['css_wiki_id'])}}"
            method="POST" class="pb-2">
            <input type="submit" class="btn btn-outline-danger" value="Удалить запись?"
               onclick="return confirm('Вы точно уверены что хотите удалить запись?')" />
         </form>
         </p>
      </div>
   </div>
   {% endfor %}
</div>
{% endblock %}