{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
<form method="post">
   <div class="container-index-page">
      <div class="card">
         <label for="css_wiki_name" class="card-header">Название</label>
         <textarea class="form-control" id="css_wiki_name" name="css_wiki_name" rows="8" placeholder="Введите название"
            required>{{ edit_css_wiki_view.css_wiki_name }}</textarea>
      </div>
      <div class="card">
         <label for="css_wiki_description" class="card-header">Описание</label>
         <textarea class="form-control" id="css_wiki_description" name="css_wiki_description" rows="8"
            placeholder="Введите описание" required>{{ edit_css_wiki_view.css_wiki_description }}</textarea>
      </div>
      <div class="card text-dark bg-light">
         <div class="card-header h5">Операции</div>
         <div class="card-body">
            <div class="btn-group btn-group" role="group" aria-label="...">
               <!-- Вернуться к списку записей -->
               <a href="{{ url_for('css_wiki.css_wiki') }}" class="btn btn-outline-dark">Назад</a>
                <!-- Добавить новую запись -->
               <a href="{{ url_for('add_css_wiki.add_css_wiki') }}" class="btn btn-outline-dark">Добавим</a>
               <button type="submit" value="" class="btn btn-outline-dark">Сохранимся</button>
               <!-- Блок с ошибками -->
               {% include 'errors.html' %}
            </div>
         </div>
      </div>
      <div class="card text-dark bg-light">
         <div class="card-header h5">Информация о записи</div>
         <ul>
            <li>id записи: <b>{{ edit_css_wiki_view.css_wiki_id }}</b></li>
            <li>Дата редактирования записи: <b>{{ edit_css_wiki_view.css_wiki_date_add }}</b></li>
            <li>Дата добавления записи: <b>{{ edit_css_wiki_view.css_wiki_date_edit }}</li>
         </ul>
      </div>
   </div>
</form>
{% endblock %}