{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
{% include 'errors.html' %}
<form method="post">
   <div class="card mb-3">
      <label for="task_name" class="card-header">Задача</label>
      <textarea class="form-control" id="task_name" name="task_name" rows="1" placeholder="Введите задачу"
         required>{{ edit_task_view.task_name }}</textarea>
   </div>
   <div class="card mb-3">
      <label for="task_description" class="card-header">Описание задачи</label>
      <textarea class="form-control" id="task_description" name="task_description" rows="1" placeholder="Введите описание задачи"
         required>{{ edit_task_view.task_description }}</textarea>
   </div>
   <div class="card mb-3">
      <label for="task_status" class="card-header">Статус</label>
      <textarea class="form-control" id="task_status" name="task_status" rows="8"
         placeholder="Статус" required>{{ edit_task_view.task_status }}</textarea>
   </div>
   <div class="btn-group btn-group" role="group" aria-label="...">
      <a href="{{ url_for('tasks.tasks') }}" class="btn btn-outline-dark">Вернуться к списку</a>
      <a href="{{ url_for('add_task.add_task') }}" class="btn btn-outline-dark">Добавить новую</a>
      <button type="submit" value="" class="btn btn-outline-dark">Сохранить изменения</button>
   </div>
</form>
{% endblock %}